@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import "tailwindcss";


:root {
  --text: #161645;
  --purple: #A749D6;
  --blue: #60E7F1;
  --red: #FFA2B4; 

}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

/* @media 
(prefers-color-scheme: dark) 
{
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: transparent;
  color: #161645;
  font-family: Roboto, Helvetica, sans-serif;
}

.fade-in {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}
